.page h1 {
    font-size: 48px;
    font-family: helvetica;
    font-weight: bold;
    color: #232F3E;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    position: relative;
}

.page .error-text {
    font-size: 26px;
    color: #232F3E;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.bi-cone-striped {
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    display: flex;
    font-size: 100px;
    color: #ff9900;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input[type="search"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

.search-form button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #e68a00;
}