/* Estilo de NavBar */
.navbar.bg-body-tertiary .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navbar.bg-body-tertiary .container-fluid .navbar-brand .logo-text{
    color: #ff9900;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
}

.navbar.bg-body-tertiary .container-fluid .navbar-brand .logo-text:hover {
    color: rgb(184, 182, 182);
}

.navbar.bg-body-tertiary .navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navbar.bg-body-tertiary .navbar-collapse .navbar-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar.bg-body-tertiary .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    margin: 0 auto;
}

.form-control {
    width: 40vw;
    max-width: 500px;
}

.navbar.bg-body-tertiary .navbar-nav .nav-link {
    text-align: center;
    padding: 0 15px;
}

.navbar.bg-body-tertiary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.navbar.bg-body-tertiary:nth-child(1) {
    background-color: #232F3E !important;
}

.navbar.bg-body-tertiary:nth-child(2) {
    background-color: lightgray !important;
}

.navbar.bg-body-tertiary .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.bg-body-tertiary:nth-of-type(2) .navbar-nav .nav-link {
    padding: 0 20px;
}

/* Estilos de los enlaces */
.navbar.bg-body-tertiary:nth-child(1) .nav-link {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar.bg-body-tertiary:nth-child(2) .nav-link {
    color: #232F3E;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar.bg-body-tertiary .nav-link:hover {
    color: #ff9900;
}

/* Estilo para el botón de búsqueda */
.navbar.bg-body-tertiary .btn-outline-success {
    color: #fff;
    border-color: #ff9900;
}

.navbar.bg-body-tertiary .btn-outline-success:hover {
    background-color: #ff9900;
    border-color: #ff9900;
}